.d-flex{
    margin: 5rem;
    display:flex;
    justify-self: center;
    width:400rem;
    box-shadow: 3px 3px 12px 12px grey;
}
.image1{
    width:60vw;
    height:40vh;
}
.logIn{
    width:35.9vw;
    height:73vh;
    position: relative;
    top:37rem;
    bottom: 0rem;
    background: rgba(147,25,255,255);
}
.logo{
    height:20rem;
    margin: 6rem;
}
.pl-4{
    padding-left: 4rem;
}
.d-flex h1{
    font-size: 25rem;
    margin-left: 5rem;;
    font-weight: 500rem;
    color:rgba(51,64,83,255);
}
.text-yellow{
    color:rgba(255,172,25,255);
}
.text-purple{
    color:rgba(147,25,255,255);
}
.d-flex h2{
    font-size: 9rem;
    color:rgba(51,64,83,255);
    margin-left: 5rem;;

}

.div-right{
    background:rgba(147,25,255,255) ;
    height:100rem;
    
}
.div-right h2{
    position: relative;
    top: 43rem;
    left: 53rem;
color: white;
}
hr{
    position: relative;
    bottom:139rem;
    right:2rem;
    width:16rem;
    color: white;
}
.form-div{
    position: relative;
    bottom: 130rem;
    left: 40rem;
    font-size: 6rem;
}
.form-div p{
    color: white;;
}
.form input{
height:15rem;
margin-bottom: 2rem;
border-style: none;
border-radius: 5px;
width:80rem;
font-size: 4rem;
color: grey;
border-radius: 2rem;
padding-left: 2rem;
}
.form button{
    background:rgba(255,172,25,255) ;
    color:white;
    width: 24rem;
    height:9rem;
    margin-top: 5rem;
    border-style: none;
    border-radius: 5rem;
    font-size: 5rem;
}
.error-message{
    color:red;
    font-size: 3rem;
}