<div class="outer-div">
    <div>
        <app-header></app-header>
        <div class="flex-boxes">
            <div>
                <button class="button text-large">Booked rides</button>
                <div class="flex-box">
                    <div class="box-header d-flex">
                        <h2 class="box-title">Micheal Douglas</h2>
                        <img [src]="clint" class="image" alt="">
                    </div>
                    <div class="box-body d-flex">
                        <div>
                            <p class="text-small">from</p>
                            <p class="text-large">jersey</p>
                            <p class="text-small">Date</p>
                            <p class="text-large">xx/mm/yyyy</p>
                            <p class="text-small">price</p>
                            <p class="text-large">180$</p>
                        </div>
                        <div>
                            <p class="text-small">to</p>
                            <p class="text-large">secaucus</p>
                            <p class="text-small">Time</p>
                            <p class="text-large">5am to 9am</p>
                        </div>
                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-header d-flex">
                        <h2 class="box-title">Chris Ween</h2>
                         <img [src]="chris" class="image" alt=""> 
                    </div>
                    <div class="box-body d-flex">
                        <div>
                            <p class="text-small">from</p>
                            <p class="text-large">chicago</p>
                            <p class="text-small">Date</p>
                            <p class="text-large">xx/mm/yyyy</p>
                            <p class="text-small">price</p>
                            <p class="text-large">180$</p>
                        </div>
                        <div>
                            <p class="text-small">to</p>
                            <p class="text-large">cincinatti</p>
                            <p class="text-small">Time</p>
                            <p class="text-large">5am to 9am</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="button text-large bg-yellow">Offered rides</button>
                <div class="flex-box">
                    <div class="box-header d-flex">
                        <h2 class="box-title">Jeffrey Romer</h2>
                        <img [src]="jeffrey" class="image" alt="">
                    </div>
                    <div class="box-body d-flex">
                        <div>
                            <p class="text-small">from</p>
                            <p class="text-large">kankas</p>
                            <p class="text-small">Date</p>
                            <p class="text-large">xx/mm/yyyy</p>
                            <p class="text-small">price</p>
                            <p class="text-large">180$</p>
                        </div>
                        <div>
                            <p class="text-small">to</p>
                            <p class="text-large">madison</p>
                            <p class="text-small">Time</p>
                            <p class="text-large">5am to 9am</p>
                        </div>
                    </div>
                </div>
                <div class="flex-box">
                    <div class="box-header d-flex">
                        <h2 class="box-title">Cassie</h2>
                        <img [src]="morgan" class="image" alt="">
                    </div>
                    <div class="box-body d-flex">
                        <div>
                            <p class="text-small">from</p>
                            <p class="text-large">indiapolis</p>
                            <p class="text-small">Date</p>
                            <p class="text-large">xx/mm/yyyy</p>
                            <p class="text-small">price</p>
                            <p class="text-large">180$</p>
                        </div>
                        <div>
                            <p class="text-small">to</p>
                            <p class="text-large">cincinnati</p>
                            <p class="text-small">Time</p>
                            <p class="text-large">5am to 9am</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>