.outer-div{
    margin: 5rem;
    width: 390rem;
    height: 200rem;
    padding : 5rem 5rem;
    box-shadow: 3px 3px 12px 12px grey;
    background-image: url("/assets/images/img4.png");
    background-repeat: no-repeat;
    background-size: 390rem 100rem;
    background-position:bottom;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-boxes{
    display: flex;
    justify-content: space-evenly;
}
.flex-box{
    height:max-content;
    padding: 2rem;
    width: 90rem;
    box-shadow: 4px 4px  8px 8px rgb(199, 197, 197);
}
.header-title{
    font-size: 5rem;
    margin-right: 5rem;
}
.box-header{
    font-size: 4rem;
}
.box-header p{
    font-size: 3rem;
    color: grey;
    margin-top:-5rem;
    margin-bottom: 5rem;
}
 label{
    position: relative;
    top:5rem;
}
input {
    margin-top: 7rem;
    width: 50rem;
    border: 0;
    border-bottom: 10px solid grey;
    height: 6rem;
    font-size: 4rem;
  } 
input:hover{
    border-bottom: 10px solid rgb(46, 177, 238);
}
button{
    border-radius: 5rem;
    height:6rem;
    width:20rem;
}
.text-small{
    font-size: 3rem;
    color: grey;
}
.text-large{
    font-size: 4rem;;
}
.button{
background-color: rgba(147,25,255,255);
margin-right: 4rem;
margin-bottom: 3rem;
color: white;
}
#submit{
    background-color:rgba(255,172,25,255) ;
    color: white;
}