<div class="">
    <div class="d-flex">
        <img [src]="logo" class="logo" alt="logo">
        <div class="d-flex">
            <p class="user-title"><b>John Wills</b></p>
            <img [src]="user"  class="user" alt="user">
        </div>
    </div>
    <div class="">
        <h3 class="title">Hey john!</h3>
        <div class="flex-boxes">
            <div class="div-purple">
                <p>Book a ride</p>
            </div>
            <div class="div-yellow">
                <p >Offer a ride</p>
            </div>
        </div>
    </div>
    <img [src]="image3" class="image3" alt="">
</div>
