.outer-div{
    background-image: url("/assets/images/img4.png");
    background-repeat: no-repeat;
    background-size: 100% 90rem;
    background-position:bottom;
}
.background-img{
    background-image: url("/assets/images/img4.png");
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-boxes{
    display: flex;
    padding-left: 400px;
}
.flex-box{
    height:1971px;
    padding: 5rem;
    width: 1000px;
    margin-right: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px  8px 8px rgb(199, 197, 197);
}
.box-title{
    font-size: 7rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.box-header{
    font-size: 4rem;
}

.box-header p{
    font-size: 3rem;
    color: grey;
    margin-top:-5rem;
    margin-bottom: 5rem;
}
input {
    border: 0;
    border-bottom: 10px solid grey;
    font-size: 4rem;
    width: 70%;
  } 
input:hover{
    border-bottom: 10px solid rgb(46, 177, 238);
}
button{
    border-radius: 5rem;
    height:6rem;
    width:20rem;
}
.text-small{
    font-size: 3rem;
    color: grey;
}
.text-large{
    font-size: 4rem;
}
.radio-btn{
    display: none;
}
.div-bottom{
    font-size: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
} 
.background-white{
    background-color: white;
}

.div-radio-button:hover,.button-circle:hover, .background-purple{
    background-color: rgba(147,25,255,255) ;
}
#submit{
    margin-top: 5rem;
    background-color:rgba(255,172,25,255) ;
    color: white;
}
form h1{
    color:rgba(147,25,255,255);
    float:right;
    font-size: 5rem;
    margin-top: 10rem;
} 
form h1 {
    cursor: pointer;
  }
.button-circle{
    height: 6rem;
    width:6rem;
    border: solid 2px black;
    margin-right: 3rem;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 1rem;;
}
#price{
    width: 12rem;
     position: relative;
    top:-6rem;
    left:5rem;
}
.error-message{
    color: red;
    font-size: 30px;
}
.addIcon{
    color: rgba(147,25,255,255) ;
    height: 5rem;
    position: relative;
    left: 41rem;
    bottom: 7rem;
}
.destinationIcon{
    color: rgba(147,25,255,255) ;
    margin-top: 2rem;
}
.startIcon{
    background-color: rgba(147,25,255,255) ;
    border-radius: 10rem;
    
}
.mb-5{
    margin-bottom: 5rem;
}
.circleIcon{
    background-color:grey;
    border-radius: 10rem;
    margin-top: 2rem;
    margin-left: 15px;
    border-color: none;
}
.columm-class{
    display: flex;
    flex-direction: column;
}
.timediv , .seats-div{
    height:230px;
    width: 100%;
}
.timediv-inner{
    width: 270px;
    height: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 2px solid rgba(147,25,255,255) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 130px;
}
.seats-div-inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 2px solid rgba(147,25,255,255) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 130px;
}
.switch {
    position: relative;
    top: 38px;
    display: inline-block;
    width: 132px;
    height: 65px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgba(255,172,25,255);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }