.outer-div{
    padding: 0 5rem;
    width: 100vw;
    height:100vh;
}
.image3{
    width:100vw;
    height:65vh;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-title{
    font-size: 5rem;
    margin-right: 5rem;
}
.title{
    font-size: 5rem;
    margin-left: 50rem;
    margin-bottom: 0rem;
}
.flex-boxes{
    display: flex;
    justify-content: center;
}
.flex-boxes div{
    height: 30rem;
    width: 60rem;
    color: white;
    margin:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.flex-boxes div p{
    font-size: 5rem;
}
.div-purple{
    background-color: rgba(147,25,255,255);;
}
.div-yellow{
    background-color:rgba(255,172,25,255) ;
}