.div-outer {
    display: flex;
    justify-self: center;
    .pl-4 {
        padding-left: 4rem;
        .logo {
            height: 20rem;
            margin: 6rem;
        }
        .text-yellow {
            color: rgba(255, 172, 25, 255);
        }
        .text-purple {
            color: rgba(147, 25, 255, 255);
        }
        h1 {
            font-size: 18rem;
            margin-left: 5rem;
            font-weight: 500rem;
            color: rgba(51, 64, 83, 255);
        }
        h2 {
            font-size: 9rem;
            color: rgba(51, 64, 83, 255);
            margin-left: 5rem;
        }
    }
    .image1 {
        width: 60vw;
        height: 40vh;
    }
    .div-right {
        background: rgba(147, 25, 255, 255);
        height: 100rem;
        h2 {
            position: relative;
            top: 20rem;
            left: 53rem;
            color: white;
            font-size: 8rem;
        }
        .logIn {
            width: 40vw;
            height: 1600px;
            position: relative;
            top: 37rem;
            bottom: 0rem;
            background: rgba(147, 25, 255, 255);
        }
        hr {
            position: relative;
            bottom: 139rem;
            right: 2rem;
            width: 16rem;
            color: white;
        }
        .form-div {
            position: relative;
            bottom: 70rem;
            left: 40rem;
            font-size: 6rem;
            p {
                color: white;
            }
            .form {
                input {
                    height: 12rem;
                    border-style: none;
                    border-radius: 5px;
                    width: 63rem;
                    font-size: 4rem;
                    color: grey;
                    border-radius: 2rem;
                    margin-bottom: 2rem;
                    padding-left: 2rem;
                }
                button {
                    background: rgba(255, 172, 25, 255);
                    color: white;
                    width: 24rem;
                    height: 9rem;
                    margin-top: 5rem;
                    border-style: none;
                    border-radius: 5rem;
                    font-size: 5rem;
                }
                .error-message {
                    color: red;
                    font-size: 3rem;
                }
            }
        }
    }
}
