<div class=" outer-div">
    <div>
        <app-header></app-header>
        <div class="flex-boxes">
            <div class="flex-box">
                <div class="box-header">
                    <h2 class="box-title">offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form [formGroup]="offerRideForm">
                    <label class="text-small" for="from">From:</label><br>
                    <input class="" id="from" type="text" formControlName="startPoint" required><br><br>
                    <label class="text-small" for="to">To:</label><br>
                    <input class="" id="to" type="text" formControlName="endPoint" required><br><br>
                    <label class="text-small" for="date">Date:</label><br>
                    <input class="" id="date" type="date" formControlName="date" required><br><br>
                    <p for="time" class="text-small">Time:</p><br>
                    <button type="button" *ngFor="let timeSlot of timeSlots" class="button text-small" name="button" (click)="clickTimeSlot(timeSlot)">{{timeSlot}}</button><br>
                    <h1>Next>></h1>
                </form>
            </div>
            <div class="flex-box" >
                <div class="box-header">
                    <h2 class="box-title">Offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form [formGroup]="offerRideForm">
                    <label class="text-small" for="stop1" >Stop1:</label><br>
                    <input class="" id="stop1" type="text" formControlName="stop1" required><br><br>
                    <label class="text-small" for="stop2">Stop2:</label><br>
                    <input class="" id="stop2" type="text" formControlName="stop2" required><br><br>
                    <label class="text-small" for="stop3">Stop3:</label><br>
                    <input class="" id="stop3" type="text" formControlName="stop3" required><br><br>
                    <div class="d-flex">
                        <p class="text-small">Available seats:</p><br>
                        <p class="text-small">price</p>
                    </div>
                    <div class="d-flex ">
                        <div>
                    <button type="button" *ngFor="let seats of noOfSeats" class="button-circle text-small" (click)="clickSeats(seats)" name="button">{{seats}}</button>
                    </div>
                    <input class="" id="price" type="text" formControlName="price" required><br><br>
                    </div>
                    <button type="button" class="button text-large" id="submit" (click)="OfferRide()">submit</button>
                </form>

            </div>
        </div>
    </div>
</div>