<div class=" outer-div">
    <div>
        <app-header></app-header>
        <div class="flex-boxes">
            <div class="flex-box">
                <div class="box-header">
                    <h2 class="box-title">offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form [formGroup]="offerRideForm">
                    <div class="form-group">
                        <label class="text-small" for="startPoint">From:</label><br>
                        <input id="startPoint" class="form-control" name="startPoint" type="text"
                            formControlName="startPoint" required /><br><br>
                    </div>
                    <div *ngIf="isFormSubmitted && offerRideForm.get('from')?.errors?.['required']"
                        class="error-message">Error! field empty</div>
                    <label class="text-small" for="to">To:</label><br>
                    <input class="form-control" id="endPoint" type="text" formControlName="endPoint" required><br><br>
                    <label class="text-small" for="date">Date:</label><br>
                    <input  type="date" class="form-control" formControlName="date" required><br><br>
                    <div class="d-large">
                        <p class="text-small">Time:</p>
                        <div class="div-bottom">
                            <div class="div-radio-button background-white" *ngFor="let timeSlot of timeSlotsArray">
                            <input type="radio" class="button form-control radio-button text-small" [ngClass]="{'background-white':toggled ,'background-purple': !toggled}"  (click)="clickTimeSlot(timeSlot.timeSlot)">{{timeSlot.timeSlot}}<br>
                    </div>
                    </div>
                </div>
                    <h1 (click)="onNextClick()">Next>></h1>
                </form>
            </div>
            <div class="flex-box" [hidden]="isShowDiv">
                <div class="box-header">
                    <h2 class="box-title">Offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form [formGroup]="offerRideForm">
                    <label class="text-small " for="stop1">Stop1 (Optional):</label><br>
                    <input class="form-control" id="stop1" type="text" formControlName="stop1" required><br><br>
                    <label class="text-small" for="stop2">Stop2 (Optional):</label><br>
                    <input class="form-control" id="stop2" type="text" formControlName="stop2" required><br><br>
                    <label class="text-small" for="stop3">Stop3 (Optional):</label><br>
                    <input class="form-control" id="stop3" type="text" formControlName="stop3" required><br><br>
                    <div class="d-flex">
                        <p class="text-small">Available seats:</p><br>
                        <p class="text-small">price</p>
                    </div>
                    <div class="d-flex ">
                        <div class="grid">
                            <div class="div-button button-circle  background-white"  *ngFor="let seats of noOfSeats">
                            <input type="radio" class=" radio-button form-control " [ngClass]="{'background-white':toggled ,'background-purple': !toggled}"  (click)="clickSeats(seats.seats)" >{{seats.seats}}
                        </div> 
                        </div>
                        <div>
                            <input class="" id="price" type="text" formControlName="price" required><br><br>
                            <div *ngIf="isFormSubmitted && offerRideForm.get('price')?.errors?.['required']"
                                class="error-message">Error! field empty</div>
                        </div>
                    </div>
                    <button type="button" class="button text-large" id="submit" (click)="submitForm()">submit</button>
                </form>

            </div>
        </div>
    </div>
</div>