<div class=" outer-div">
    <div>
        <app-header></app-header>
        <div class="flex-boxes">
            <div class="flex-box">
                <div class="box-header">
                    <h2 class="box-title">offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form action="">
                    <label class="text-small" for="from">From:</label><br>
                    <input class="" id="from" type="text" required><br><br>
                    <label class="text-small" for="to">To:</label><br>
                    <input class="" id="to" type="text" required><br><br>
                    <label class="text-small" for="date">Date:</label><br>
                    <input class="" id="date" type="date" required><br><br>
                    <p for="time" class="text-small">Time:</p><br>
                    <button type="button" class="button text-small" name="button">5am-9pm</button>
                    <button type="button" class="button text-small" name="button">9am-12pm</button>
                    <button type="button" class="button text-small" name="button">12am-2pm</button>
                    <button type="button" class="button text-small" name="button">2am-6pm</button>
                    <button type="button" class="button text-small" name="button">6am-9pm</button><br>
                    <h1>Next>></h1>
                </form>
            </div>
            <div class="flex-box" (click)="OfferRide">
                <div class="box-header">
                    <h2 class="box-title">Offer a Ride</h2>
                    <p>we get you the matches asap!</p>
                </div>
                <form action="">
                    <label class="text-small" for="step1">Step1:</label><br>
                    <input class="" id="step1" type="text" required><br><br>
                    <label class="text-small" for="step2">Step2:</label><br>
                    <input class="" id="step2" type="text" required><br><br>
                    <label class="text-small" for="step3">Step3:</label><br>
                    <input class="" id="step3" type="date" required><br><br>
                    <div class="d-flex">
                        <p class="text-small">Available seats:</p><br>
                        <p class="text-small">price</p>
                    </div>
                    <div class="d-flex">
                        <div>
                    <button type="button" class="button-circle text-small" name="button">1</button>
                    <button type="button" class="button-circle text-small" name="button">2</button>
                    <button type="button" class="button-circle text-small" name="button">3</button>
                    </div>
                    <p class="text-large"><b>180$</b></p>
                    </div>
                    <button type="button" class="button text-large" id="submit">submit</button>
                </form>

            </div>
        </div>
    </div>
</div>