<!-- <app-sign-up></app-sign-up>
<app-log-in></app-log-in>
<app-home></app-home>
<app-book></app-book>
<app-offer></app-offer>
<app-rides></app-rides> -->

<!-- <span>
    <ul>
        <li><a routerLink="" ></a></li>
        <li><a routerLink="/log-in"></a></li>
        <li><a routerLink="/home" >About Us</a></li>
        <li><a routerLink="/book" >Contact Us</a></li>
        <li><a routerLink="/offer" >Contact Us</a></li>
        <li><a routerLink="/rides" >Contact Us</a></li>
    </ul>
</span> -->
<router-outlet></router-outlet>